* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    background: rgb(75,19,91);
    background: radial-gradient(circle, rgba(75,19,91,1) 1%, rgba(19,2,33,1) 93%);
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
}
.container {
    width: 50%;
    margin: auto;
    margin-top:10% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-bottom: 2rem;
}

#onay{
    transition: all .5s;
}
#onay:hover {
    color:green;
}
#durdur {
    transition: all .5s;
}
#durdur:hover {
    color:red;
}
/* .time {
    width: 5rem;
} */

@media screen and (max-width:600px){
    body {
        font-size: 3rem;
    }
    .container {
        width: 75%;
    }
}